.main{
    width: 100vw;
    height: 100vh;
    background: #241b35;
    justify-content: start;
    padding-top: 5rem;
}

.todo{
    gap: 1rem;
}

img{
    width: 5rem;
}

.head h1{
    font-size: 1.5rem;
}

.add{
    background: #4d425f;
    width: 16rem;
    padding: 5px 10px;
    border-radius: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add input{
    background: transparent;
    outline: none;
    border: none;
    color: white;
}

.add input::placeholder{
    color: rgb(197, 197, 197);
}

i{
    background: #6c35de;
    border-radius: 50%;
    padding: 6px;
    transition: all .3s;
}

.add i:hover{
    scale: 1.3;
    cursor: pointer;
    background: #761ff9;
}

.itemList{
    gap: .5rem;
}

.item{
    background: #4d425f;
    width: 16rem;
    padding: 5px 10px;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #a364ff;
    transition: all .3s;
    cursor: pointer;
}

.item:hover{
    scale: 1.05;
    background: #6c35de;
}

.item:hover i{
    background: #241b35;
}

.item h1{
    font-size: .7rem;
}

.btn{
    padding: 8px 16px;
    /* background: #a364ff; */
    /* background: #cb80ff; */
    background: linear-gradient(to left, #a364ff, #6c35de);
    border-radius: 1rem;
    border: none;
    color: white;
    transition: all .3s;
}

.btn:hover{
    cursor: pointer;
    scale: 1.1;
    background: linear-gradient(to right, #a364ff, #6c35de);
}